* {
  background-color: #0b2429;
  position: absolute;
}

div {
  width: 125px;
  height: 125px;
}

#left {
  background: #f3ac3c;
  z-index: 3;
  border-radius: 75px 0px 75px 75px;
  top: 140px;
  left: 75px;
}

#mid {
  background: #998235;
  z-index: 2;
  border-radius: 75px 0px 75px 75px;
  top: 80px;
  left: 140px;
}

#right {
  background: #f3ac3c;
  z-index: 1;
  border-radius: 50%;
  top: 20px;
  left: 200px;
}
