* { background: #62306D }
div {
    height: 100px;
    width: 100px;
    background: #F7EC7D
}
#left {
    border-radius: 0 0 50px 50px; 
    position: relative;
    left: 45px;
    top: 140px;
}
#mid {
    border-radius: 50px 50px 0 0;
    position: relative;
    left: 145px;
  	top: -60px;
  }
#right {
    border-radius: 0 0 50px 50px;
    position: relative;
    left: 245px;
  	top: -60px;
}